@font-face {
 font-family: 'Rockwell-Light';
 src: url(./fonts/Rockwell/RockwellStd-Light.otf);
 font-weight: 300;
}



/* BODY */
body {
 font-family: 'Raleway', sans-serif;
 font-family: 'Montserrat', sans-serif;
}



/* HEADER SETTINGS */

h1 {
 font-family: Rockwell;
 background-color: black;
 color: white;
 width: 100%;
 display: block;
 margin: 0 auto;
}

 h2 {
  font-family: 'Raleway'
 }

 #email {
  font-weight: 400;
 }

 h3 {
  font-size: 1.4rem;
 }



/* JUMBOTRON */

.jumbotron {
 background-color: white;
 padding: 0;
 margin-bottom: 0;
}

#jumbotron-image {
 width: 90%;
 height: auto;
 max-height: 315px;
 max-width: 540px;
}



/* NAVBAR */

.nav-item {
 color: black;
 text-transform: uppercase;
 font-size: .9rem;
 padding: 2px;
}

.navbar-nav {
 text-align: center;
}

.nav-active {
 font-weight: 700;
}



/* CONTENT BODY */

.content-body {
 height: auto;
 width: 100%;
}



/* SLIDESHOW */


#stage {
 width: 80%;
 height: auto;
 border-radius: 15px;
}

#stage a {
 position: absolute;
 width: 80%;
 height: auto;
 left: 18%;
 border-radius: 15px;
 margin-bottom: 100px;
}

#stage img {
border-radius: 5px;
}


#stage a:nth-of-type(1) {
 animation-name: fader;
 animation-delay: 3s;
 animation-duration: 1s;
 z-index: 20;
}
#stage a:nth-of-type(2) {
 z-index: 10;
}
#stage a:nth-of-type(n+3) {
 display: none;
}

@keyframes fader {
 from { opacity: 1.0; }
 to   { opacity: 0.0; }
}

.slideshow-image {
 height: auto;
 width: 80%;
 
} 



/* GALLERY */

.imageDiv {
 margin: 5px;
}

.wedding-invite {
 width: 250px;
 height: 300px;
 display: block;
 /* margin: 0;
 padding: 0;
 border: 0; */
 cursor: pointer;
 /* background-color: white; */
 border-radius: 2px;

}

.imageDiv:hover .img-wrap {
 background-color: black;
 border-radius: 2px;
}

.wedding-invite {
 opacity: 0.8;
}

/* MODAL */

.modal-body {
 padding: 0;
}



.modalImg {
height: auto;
width: 100%;
max-width: 850px;
max-height: 638px;

}

.modal-content {
 width: 65%;
}





/***** ACCESSORIES *****/

/* CONTAINER */



/* HR */
hr {
 background: black;
}

/* ROW */
.row {
 margin: 0;
 background: rgba(255, 255, 255, 0.2);
}

/* ARROWS */

.fa-inverse {
 font-family: 'Rockwell';
 padding-top: 4.5px;
}

.fas {
 font-size: 1.1rem;
}

.arrow-right {
 position: absolute;
 top: 50%;
 right: 8%;
}

.arrow-left {
 position: absolute;
 top: 50%;
 left: 8%;
}

a {
 cursor: pointer;
 color: black;
}

a:hover {
 color: rgb(200, 200, 200);
}




/* CONTACT PAGE */

.contact-head {
 background: white;
 color: black;
 font-size: 1.6rem;
 margin: 10px auto;
}

.contact-block {
 min-width: 300px;
 padding: 20px;
 }
 
 .mid-block {
 border-left: 1px solid black;
 border-right: 1px solid black;
 }

 .connect {
  font-size: 1.8rem;
  letter-spacing: 1px;
 }

 /* ABOUT PAGE */

 .about-me, .gallery, .contact-me {
  margin-bottom: 100px;
 }

 .about-me h2 {
  font-family: "Montserrat";

 }

 .ring-invite {
  font-size: 2rem;
  font-family: 'Rockwell Std';
  font-weight: 300;
  font-style: normal;
  margin: 80px 0;
}

.options {
 font-size: 1.4rem;
 font-family: "Montserrat";
 letter-spacing: 1px;
}

.contact-header{ 
 font-weight: 600;
}

.about-me p {
 width: 50%;
 margin: 0 auto;
}

.envelopesImg {
 width: 50%;
 height: auto;
}

.light-bold {
 font-weight: 100;
}

.quality {
 width: 50%;
 height: auto;
margin-top: 10px;
}

.print-para {
 width: 100% !important;
 padding-right: 150px;
}

.col-6 {
 padding: 0;
}

.brand{
  height: 100px;
  width: auto;
}

.footerMargin {
  margin-top: 150px;
  width: 80%;
}

.footer {
  margin-bottom: 10px;
}